<nav>
    <div class="site-title">
        <a href="/"><h2>Gift & Plants Delivery page</h2></a>
        <p>Assignment 1 Web Services</p>
    </div>
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>