<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About this page</h2>
      <h5>Create a Gift & Plants Delivery page (a single page is enough) that has the
        following functionalities:<br><br>
   
       (%8) A list of gifts (7 items) a customer can choose from<br>
       (%8) A list of plants (7 items) a customer can choose from<br>
       (%8) Use the given API (or any other Plant/Flower API) to get the Plants details<br>
       (%6) Professional-looking User Interface (UI)<br>
       Example API -> https://perenual.com/docs/api<br>
       
       Note:<br>
       
       The list of gifts could be hard coded<br>
       
       Ensure a consistently active and valuable contribution to your GitHub repository<br>
     over the period of the assignment duration.</h5>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>